/* aquí le he puesto la url de la imagen de trasfondo (background-image)
junto con el color de la letra y su ancho y largo. Además de alinear el texto */

#cabecera_imagen {
    background-image: url(./img/header_background.jpeg);
    color: aliceblue;
    justify-content:center;
    width: 100%;
    height: 880px;
    }
 
     /* En el cuerpo, el ID, puse esta clase para ponerlo lo más centrado posible en relación a las imágenes y width cómo
     en la anterior para la separación de texto de línea a línea */
    #cuerpo {   
        margin:auto;
        width: 700px;   
    }
     /* Al poner el link para que quede resaltado cómo en la maqueta lo dejé con el color rojo */
    #link_rataalada{
    color: red;

    }
     /* aquí puse width para que todas las imágenes con está clase tuvieran el mismo ancho en píxeles */
    .imagen {
        width: 700px;
    }
     /* aquí puse el borde de color negro con una anchura de tres píxeles*/
    th,td {
        border: 3px solid black;
        
    }

    table{
        margin: auto;
    }
     /* Aquí ajuste el ancho y largo de todas las imagenes para la tabla y así quedaran más o menas quadradas dentro de casilla */
   .img_actor{
    width: 180px;
    height:262px;
   }
    /* Puse el texto alineado para que no se quedará cómo por defecto alineado a la izquierda */
   #head {
    text-align: center;
   }
   .d-block{
    width: 400px;
    height: 300px;
   }
   
   .carousel {
    width: 550px;
    margin: auto;
   }
   /* Con esto aplicaremos una fuente para la pagian web */
   @font-face {
    font-family: "Indie_Flower"S;
    src: url(./Indie_Flower/IndieFlower-Regular.ttf);
   }

   /* Aquí le agregaremos la fuente de letra al H2 que le di el ID de titulo_tipografia */
   #titulo_tipografia {
    font-family: "Indie_Flower";
   }